<div id="delete_window" class="modal fade">
    <div class="modal-header">
        <h2 align="center" id="delete_header"></h2>
    </div>
    <div id="delete-window-content" class="modal-body">
        <table id="delete_table" class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th><i class=''></i>  Exercise</th>
                    <th><i class='icon-fire'></i>  Muscle</th>
                    <th><i class='icon-cog'></i>  Equipment</th>
                    <th><i class=''></i>  Exercise Type</th>
                </tr>
            </thead>
            <tbody id="delete_body">
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" id="btn-confirm-delete" class="btn btn-success" >Delete</a>
        <a href="#" id="btn-cancel-delete" class="btn" >Cancel</a>
    </div>
</div>

<h1>Exercises</h1>

<section id="admin-buttons">
    <span  class="btn-group">
        <a id="btn-select-all" href="#" class="btn btn-small"><i class="icon-ok-sign"></i>  Select All</a>
        <a id="btn-select-none" href="#" class="btn btn-small disabled"><i class="icon-minus-sign"></i>  Select None</a>
    </span>
    <a id="btn-remove_selected" href="#" class="btn btn-small btn-danger disabled"><i class="icon-remove-sign icon-white"></i>  Remove Selected</a>
</section>
<form name="exercises_form">
<table id="table-exercises" class="table table-striped table-bordered table-condensed">
    <thead>
        <th></th>
        <th><i class=''></i>  Exercise</th>
        <th><i class='icon-fire'></i>  Muscle</th>
        <th><i class='icon-cog'></i>  Equipment</th>
        <th><i class=''></i>  Exercise Type</th>
    </thead>
    <tbody id="tbl-body">
    </tbody>
</table>
</form>

<script>
    $(document).ready(function() {  
        $('#get_all_exercises').addClass('active');
        getAllExercises();
    });

    function getAllExercises() {
        $.getJSON(
            '/get_exercises',
            function(data){
                updateTable( data );
            }
        );
    }

    // pdateTable = function( data ){
//         $.each(data, function(i, line){
//             var tr = document.createElement('tr');
//             var td_cb = document.createElement('td');
//             var cb = document.createElement('input');
//             var td_name = document.createElement('td');
//             var td_muscle = document.createElement('td');
//             var td_equipment = document.createElement('td');
//             var td_type = document.createElement('td');

//             cb.type = "checkbox";
//             cb.name = "exercises";
//             cb.addEventListener('click', function(){ updateCboClick(); }, false);
//             cb.id = line.id;
//             cb.value = line.name;
//             cb.muscle = line.muscle;
//             cb.equipment = line.equipment;
//             cb.exercise_type = line.exercise_type;
                        
//             td_cb.appendChild(cb);
//             tr.appendChild(td_cb);
            
//             td_name.innerHTML = line.name;
//             tr.appendChild(td_name);

//             td_muscle.innerHTML = line.muscle;
//             tr.appendChild(td_muscle);

//             td_equipment.innerHTML = line.equipment;
//             tr.appendChild(td_equipment);

//             td_type.innerHTML = line.exercise_type;
//             tr.appendChild(td_type);
            
//             table_body.appendChild(tr);
//         });
//     };

    function updateTable(data) {

    }

// document.addEventListener('DOMContentLoaded', function() {
//     var btnSelectAll = document.querySelector('#btn-select-all');
//     var btnSelectNone = document.querySelector('#btn-select-none');
//     var btnRemove = document.querySelector('#btn-remove_selected');
//     var table_body = document.querySelector('#tbl-body');
//     var btnModalCancel = document.querySelector('#btn-cancel-delete');
//     var btnModalDelete = document.querySelector('#btn-confirm-delete');
//     var exercisesToRemove;

//     setAllCbChecked = function( isChecked ){
//         var cbos = document.querySelectorAll('input[name="exercises"]');
//         for( var i in cbos ){
//             cbos[i].checked = isChecked;
//         }
//     };

//     updateCboClick = function(){
//         var cbos = document.querySelectorAll('input[name="exercises"]:checked');
//         if( cbos.length > 0 ) {
//             btnRemove.classList.remove('disabled');
//             btnSelectNone.classList.remove('disabled');
//         }
//         else{
//             btnRemove.classList.add('disabled');
//             btnSelectNone.classList.add('disabled');
//         }
//     };

//     updateTable = function( data ){
//         $.each(data, function(i, line){
//             var tr = document.createElement('tr');
//             var td_cb = document.createElement('td');
//             var cb = document.createElement('input');
//             var td_name = document.createElement('td');
//             var td_muscle = document.createElement('td');
//             var td_equipment = document.createElement('td');
//             var td_type = document.createElement('td');

//             cb.type = "checkbox";
//             cb.name = "exercises";
//             cb.addEventListener('click', function(){ updateCboClick(); }, false);
//             cb.id = line.id;
//             cb.value = line.name;
//             cb.muscle = line.muscle;
//             cb.equipment = line.equipment;
//             cb.exercise_type = line.exercise_type;
                        
//             td_cb.appendChild(cb);
//             tr.appendChild(td_cb);
            
//             td_name.innerHTML = line.name;
//             tr.appendChild(td_name);

//             td_muscle.innerHTML = line.muscle;
//             tr.appendChild(td_muscle);

//             td_equipment.innerHTML = line.equipment;
//             tr.appendChild(td_equipment);

//             td_type.innerHTML = line.exercise_type;
//             tr.appendChild(td_type);
            
//             table_body.appendChild(tr);
//         });
//     };
    
//     function removeExercises ( exercisesToRemove ){
//         // go through each element and remove it from the DB
//         for (var i = exercisesToRemove.length - 1; i >= 0; i--) 
//         {
//             // alert("removing exercise " + exercisesToRemove[i].equipment);
//             $.getJSON('/remove_exercise', { "exercise_id" : exercisesToRemove[i].id }, function(wasSuccessful){
//                 // now reload the table
//             });
//         }
//     };

//     createDeleteTable = function(exercisesToRemove) {
//         var tableDelete = document.querySelector('#delete_body');
//         var header = document.querySelector('#delete_header');
        
//         header.innerHTML = "Delete the following exercises?";
//         tableDelete.innerHTML = "";

//         for (var i = 0; i < exercisesToRemove.length; i++) {
//             var tr = document.createElement('tr');
//             var td_name = document.createElement('td');
//             var td_muscle = document.createElement('td');
//             var td_equipment = document.createElement('td');
//             var td_type = document.createElement('td');

//             td_name.innerHTML = exercisesToRemove[i].value;
//             tr.appendChild(td_name);

//             td_muscle.innerHTML = exercisesToRemove[i].muscle;
//             tr.appendChild(td_muscle);

//             td_equipment.innerHTML = exercisesToRemove[i].equipment;
//             tr.appendChild(td_equipment);

//             td_type.innerHTML = exercisesToRemove[i].exercise_type;
//             tr.appendChild(td_type);

//             tableDelete.appendChild(tr);
//         };
//     };

//     btnSelectAll.addEventListener('click', function(){
//         if(!this.classList.contains('disabled')){
//             this.classList.add('disabled');
//             btnSelectNone.classList.remove('disabled');
//             btnRemove.classList.remove('disabled');
//             setAllCbChecked( true );
//         }
//     });
    
//     btnSelectNone.addEventListener('click', function(){
//         if(!this.classList.contains('disabled')){
//             this.classList.add('disabled');
//             btnSelectAll.classList.remove('disabled');
//             btnRemove.classList.add('disabled');
//             setAllCbChecked( false );
//         }
//     });

//     btnRemove.addEventListener('click', function(){
//         // remove the selected equipment from the db
//         exercisesToRemove = document.querySelectorAll('input[name="exercises"]:checked');
//         if(!this.classList.contains('disabled')){
//             createDeleteTable(exercisesToRemove);
//             $("#delete_window").modal("show");
//         }
//     });

//     btnModalCancel.addEventListener('click', function(){
//         $("#delete_window").modal("hide");
//     });

//     btnModalDelete.addEventListener('click', function(){
//         removeExercises(exercisesToRemove);
//         $("#delete_window").modal("hide");

//         // reload table
//         $.getJSON(
//             '/get_exercises', function(data) {
//                 table_body.innerHTML = "";
//                 updateTable( data );
//             }
//         );
//     });
    
//     $.getJSON(
//         '/get_exercises',
//         function(data){
//             updateTable( data );
//         }
//     );
// })
</script>