extends ../layout/l_admin

block adminScripts
	script(src='/gymlocker/js/admin/add_equip.js')

block adminContent
	div
		h1 Add Equipment to the Database
		div
			label Equipment Name
			div
				div#l-equipment-name
				input#input-equipment-name.span5(type='text' placeholder=' Equipment')

		div#l-btn-add-equipment
			button#btn-add-equipment.btn.btn-primary Add Equipment
			div#already-exists-warning