link(type='text/css' rel='stylesheet' href='/stylesheets/samples.css')

div.container
	div.content
		h1.center SAMPLES
		div.sample-left
			div.container
				div.row
					div.col-md-5.col-sm-6
						hr.section-heading-spacer
						h2.section-heading <a href='http://heraldandjoanne.com/' target='_blank'>Wedding</a>
						span.section-subheading Status: In Progress
						//- div.section-centent
						//- 	p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					div.col-md-5.col-md-offset-2.col-sm-6
						a(href='http://heraldandjoanne.com/' target='_blank') <img src='/images/samples/wedding.png' />
		div.sample-right
			div.container
				div.row
					div.col-md-5.col-sm-6
						a(href='http://cakedwithloveco.ca/' target='_blank') <img src='/images/samples/caked-with-love-co.png' />
					div.col-md-5.col-md-offset-2.col-sm-6
						hr.section-heading-spacer
						h2.section-heading <a href='http://cakedwithloveco.ca/' target='_blank'>Caked With Love Co.</a>
						span.section-subheading Status: Production
						//- div.section-centent
						//- 	p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		div.sample-left
			div.container
				div.row
					div.col-md-5.col-sm-6
						hr.section-heading-spacer
						h2.section-heading <a href='http://alvinalproductions.heraldgutierrez.com/' target='_blank'>Alvin and Al Productions</a>
						span.section-subheading Status: Prototype - Cancelled
						//- div.section-centent
						//- 	p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					div.col-md-5.col-md-offset-2.col-sm-6
						a(href='http://alvinalproductions.heraldgutierrez.com/' target='_blank') <img src='/images/samples/alvin-and-al-productions.png' />
