link(type='text/css' rel='stylesheet' href='/stylesheets/skillset.css')
	
div.container
	div.content.center
		div.skillset
			h1 SKILLSET
			div.row
				div.col-sm-8.col-sm-offset-2
					div.row
						div.col-sm-4 <img src='/images/skillset/html.png' />
						div.col-sm-4 <a href='https://angularjs.org/' target='_blank'><img src='/images/skillset/angular.png' /></a>
						div.col-sm-4 <img src='/images/skillset/responsive.png' />

					div.row
						div.col-sm-4 <a href='http://sass-lang.com/' target='_blank'><img src='/images/skillset/sass.png' /></a>
						div.col-sm-4 <a href='http://getbootstrap.com/' target='_blank'><img src='/images/skillset/bootstrap.png' /></a>
						div.col-sm-4 <img src='/images/skillset/css.png' />

					div.row
						div.col-sm-4 <a href='https://git-scm.com/' target='_blank'><img src='/images/skillset/git.png' /></a>
						div.col-sm-4 <img src='/images/skillset/sql.png' />
						div.col-sm-4 <a href='https://nodejs.org/en/' target='_blank'><img src='/images/skillset/node.png' /></a>

				//- 	div.col-sm-6
				//- 		div.skill
				//- 			h2.center Languages
				//- 			ul
				//- 				li C#
				//- 				li CSS
				//- 				li HTML
				//- 				li JavaScript
				//- 				li SQL
				//- 				li VBScript
				//- 				li XML
				//- 	div.col-sm-6
				//- 		div.skill
				//- 			h2.center Frameworks & Libraries
				//- 			ul
				//- 				li AngularJS
				//- 				li ASP.NET MVC
				//- 				li Entity Framework
				//- 				li jQuery
				//- 				li .NET Framework 4.5
				//- 				li NodeJS
				//- 				li Sass

				//- div.row
				//- 	div.col-sm-6
				//- 		div.skill
				//- 			h2.center Software
				//- 			ul
				//- 				li Git
				//- 				li JIRA
				//- 				li Microsoft Internet Information Services (IIS)
				//- 				li Microsoft SQL Server
				//- 				li Microsoft Visual Studio
				//- 	div.col-sm-6
				//- 		div.skill
				//- 			h2.center Methodologies
				//- 			ul
				//- 				li Agile: Scrum & Kanban
				//- 				li Object-oriented Programming
				//- 				li Responsive Web Design
				//- 				li Waterfall