body {
	margin: auto;
	max-height: 50px;
	background: rgb(0,0,0); /* Old browsers*/
	background: -moz-linear-gradient(top, rgba(90,90,90,1) 0%, rgba(255,255,255,1) 45%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,90,90,1)), color-stop(45%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(90,90,90,1) 0%, rgba(255,255,255,1) 45%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(90,90,90,1) 0%, rgba(255,255,255,1) 45%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(90,90,90,1) 0%, rgba(255,255,255,1) 45%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(90,90,90,1) 0%, rgba(255,255,255,1) 45%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#848484',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x;
}

.sectionContainer {
	display: inline-block;
	padding: 10px;
}

.section {
	margin-bottom: 20px;
}

h2 {
	font-size: 10px;
	text-transform: uppercase;
	line-height: 16px;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #CCC;
	overflow: hidden;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: -5px;
}

h4 {
	font-size: 14px;
	font-weight: normal;
	margin-top: 4px;
	margin-bottom: -4px;
}

h5 {
	font-weight: normal;
	line-height: 18px;
	padding: 0px;
	margin-bottom: 0px;
}

span {
	font-size: 14px;
	font-weight: normal;
	text-align: justify;
}

.section ul {
	font-size: 14px;
	line-height: 16px;
	margin-top: 5px;
	margin-bottom: 3px;
	padding-left: 25px;
}

a {
	text-decoration: underline;
	color: #555;
}

a:hover {
	background: #8bacca;
	color: #fff;
}