extends layout

block content
	h1= title
	h1 #{greeting}, I am Herald Gutierrez
	p Welcome to #{title}
	
	a(href='/GymLocker') GymLocker
	br
	a(href='/Casino') Casino
	br
	a(href='/MIPs') MIPs

	div#about
		p
			strong Bill Couch
			|  is a developer, designer, and photographer in San&nbsp;Francisco. He works as a product engineer on the Web team at 
			a(href="http://twitter.com/") Twitter
			| . A fascination with storytelling and its potential with technology is what drives his long-standing obsession to create. His work and history can be found on his 
			a(href="http://cargocollective.com/couch" rel="me") portfolio
			|  and 
			a(href="http://resume.williamcouch.com" rel="me") r&eacute;sum&eacute;
			|  respectively.

		p
			| He lets his mind speak on 
			a(href="https://twitter.com/couch" rel="me") Twitter
			| ,
			a(href="http://couch.tumblr.com" rel="me") notes ephemera
			| and 
			a(href="http://wllm.cc" rel="me") chronicles adventures
			| on 
			strong Tumblr
			| , leaves breadcrumbs on 
			a(href="https://foursquare.com/couch/" rel="me") Foursquare
			| , shares his view on 
			a(href="http://flickr.com/wcouch" rel="me") Flickr
			|, observes through 
			a(href="http://instagram.com/couch" rel="me") Instagram
			| , listens on 
			a(href="http://rdio.com/people/couch" rel="me") Rdio
			| and logs it with 
			a(href="http://www.last.fm/user/iwantsomecouch" rel="me") last.fm
			| , posts short films to 
			a(href="http://vimeo.com/couch" rel="me") Vimeo
			|, previews occasional work on 
			a(href="http://dribbble.com/couch" rel="me") Dribbble
			| ,	and notes the internet on 
			a(href="http://pinboard.in/u:couch" rel="me") Pinboard
			| .

		p
			| Born in Colorado, and proudly raised in Michigan, he's an enthusiast of 
			a(href="http://www.mikkellerbar.com/") craft beer
			| , shares a kinship with his 
			a(href="http://salsacycles.com/bikes/colossal") bike
			| , reveres the 
			a(href="http://www.pictorymag.com/showcases/in-deep/#pictory-2080") Great Lakes
			| , and treasures good conversation.

		p
			| So,