<html>
<head>
	<script type='text/javascript' src='javascripts/jquery-2.0.3.min.js'></script>
	<script type='text/javascript' src='javascripts/test.js'></script>
	<script>
		$(document).ready(function() {
			$('#btnTest').click(function() {
				alert('test');
				getTest();
			});
		});

		function getTest() {
			$.ajax({
                type: 	'GET',
                url: 	'/getTest',
                data: 	{ 
                	login : 'Herald', 
                	passwd : 'pass1234' 
                },
                success: 	function(data) {
                	alert(data.done);
                }, 
            });
		}
	</script>
</head>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>

<!--
<a href='/secondPage'>Second Page</a>
<a href='/thirdPage'>Third Page</a>
-->

	<a href='/GymLocker'>GymLocker</a><br>
	<a href='/Casino'>Casino</a><br>
	<a href='/ListUsers'>List Users</a><br>

	<form action='/addUser' method='post'>
		Name <input type='text' name='name'>
		<input type='submit' value='Add Name'>
	</form>

	<form action='/exists' method='get'>
		Find name <input type='text' name='name'>
		<input type='submit' value='Find'>
	</form>

	<button id='btnTest'>Test</button>
</body>
</html>