doctype 5
html
	head
		title Herald Gutierrez
		meta(http-equiv='content-type' content='text/html; charset=utf-8')
		meta(name='description' content='Herald Gutierrez is a developer in Winnipeg, Manitoba')
		
		//- link(rel='stylesheet', href='/css/.css')
		script(src='/js/jquery-2.0.3.min.js')
		link(rel='stylesheet', href='/css/index.css')
	body
		block content