extends layout

block content
	div#container
		center
			include header
			ul
				li 
					a(href='/GymLocker') GymLocker
					p GymLocker is a fitness tracking web application. It was created during my course, Software Engineering 2, at the University of Manitoba. Oringally written in Perl and MySQL, I converted that application to NodeJS and MongoDB.
				li
					a(href='/scoreboard') Scoreboard
					p A simple scoreboard that was made in a few hours. My uncle needed a scoreboard for a family basketball league we will start early next year.