extends portfolio-layout

block portfolio-styles
	link(rel='stylesheet', href='/css/portfolio/all.css')

block portfolio-content
	div
		a(href='/Portfolio/Scoreboard/Simple')
			div.previewContainer.small
				div#ScoreboardPreview.preview.small(navlink='li_SimpleScoreboard')
				center
					div.previewText.small
						h1 Simplified Scoreboard

		a(href='/Portfolio/Scoreboard/LED')
			div.previewContainer.small
				div#LEDScoreboardPreview.preview.small(navlink='li_LEDScoreboard')
				center
					div.previewText.small
						h1 L.E.D. Scoreboard

		a(href='/Portfolio/Cards')
			div.previewContainer.small
				div#CardsPreview.preview.small(navlink='li_Cards')
				center
					div.previewText.small
						h1 Cards: Match Pairs

		a(href='/Portfolio/GymLocker')
			div.previewContainer.small
				div#GymLockerPreview.preview.small(navlink='li_GymLocker')
				center
					div.previewText.small
						h1 GymLocker

