extends layout

block styles
	link(rel='stylesheet', href='/css/portfolio.css')

block scripts
	script(src='/js/portfolio.js')

block content
	a(href='/GymLocker')
		div.previewContainer
			div#GymLockerPreview.preview
			center
				div#GymLockerPreviewText.previewText
					h1 GymLocker
					p GymLocker is a fitness tracking web application. It was created during my course, Software Engineering 2, at the University of Manitoba. Oringally written in Perl and MySQL, I converted that application to NodeJS and MongoDB.
						br
						br
						| (Updated: December 09, 2013)
	a(href='/scoreboard')
		div.previewContainer
			div#ScoreboardPreview.preview
			center
				div#ScoreboardPreviewText.previewText
					h1 Basketball Scoreboard
					p A simple scoreboard that was made in a few hours. My uncle needed a scoreboard for a family basketball league that will start early 2014.
						br
						br
						| (Updated: December 17, 2013)