extends layout

block styles
	link(rel='stylesheet', href='/css/resume.css')

block content
	div#experiences.grid_7.sectionContainer
		div.section
			h2 Work Experience
			h3 iQmetrix - Web Developer 
			h4 January 2013 - April 2013 (Co-op Work Term III) [
				a(href='http://www.iqmetrix.com') www.iqmetrix.com
				| ]
			ul
				li Worked on the intranet website for their clients. Tasks included fixing reported bugs, implementing new features, resolving support requests, and improving and optimizing performance.
				li Code reviews with peers ensuring code is working without causing other bugs before it was committed to the build.
				li Attended daily morning scrums and iteration planning every two weeks.
			span Languages used: C#, HTML, CSS, JavaScript/jQuery, and SQL

			h3 Agriculture and Agri-Food Canada (AAFC) - Small Systems Analyst
			h4 May 2012 - August 2012 (Co-op Work Term II)
			ul
				li Generated a PDF from an Excel workbook for customers. The process included reading Excel cells to produce an XML. The XML is passed to a VBScript to do a custom mail merge into a Word document, which is saved as a PDF.
				li Attended requirement meetings with other departments.
				li Created four different single-page web applications. The most notable was an internal calendar that kept track of employee attendance (vaction, doctor appointments, out of office, etc...)
			span Languages used: VBA for Excel, VBScript, MS Access, HTML, CSS, and JavaScript

			h3 Geomax Mobile Corporation - Wireless Application Developer
			h4 Mobile GPS for transportation companies [
				a(href='http://www.geomaxmobile.com') www.geomaxmobile.com
				| ]
			h4 September 2011 - December 2011 (Co-op Work Term I)
			ul
				li Updated their web application that kept track of invoice documents throughout their processing phase.
				li Attended customer meetings for software reviews and requests for additional features for the web application. The requested features were implemented in the next updates. (For example, customers being emailed if their invoice was rejected during processing).
				li Preformed software releases after the project had been committed, built, and prcessed by Maven.
				li Updated the Geomax Mobile website with current information about the company.
			span Languages used: Java, JSP, HTML, CSS, JavaScript/jQuery, and SQL
		div.section
			h2 References
			span Available upon request.

	div#other.grid_5.sectionContainer
		div.section
			h2 Objective
			span To gain experience as a web developer by being exposed to different languages. Also to become a better overall developer.

		div.section
			h2 About Me
			span I’m an enthusiastic and responsible person. I’m self-motivated being able to work independently, as well in a team environment. I’m able to work and keep up in a fast paced environment. I enjoy learning, and adapting to change. I’m looking to obtain a challenging position, offering personal growth, development, and experience.

		div.section
			h2 Education
			h3 University of Manitoba 
			h4 
				i Bachelor of Science: Computer Science Major with Co-op Option
			ul
				li GPA - 3.05
				li Dean's Honour List - 2011
				li Attended 2007 - 2013

		div.section
			h2 Technical Skills
			h3 Programming Languages
			ul
				li Extensive knowledge and work experience with Java
				li Work experience with VBA (Excel), VBScrtip, and C#
				li Course knowledge of C/C++ and Assembly language (LC3)
			h3 Web Development Languages
			ul
				li Work experience with HTML, CSS, Javascript/jQuery, .NET/C#, XML, and Java Servlets
				li Course knowledge of Perl, PHP, JavaBeans, ASP, JSP, and XSL
				li Learning NodeJS, Express, and Jade
			h3 Databases
			ul
				li Extensive knowledge of MySQL
				li Work experience with Microsoft Access
				li Learning MondoDB with Mongoose
			h3 Software
			ul
				li Work experience with Microsoft Visual Studio, Excel, Word, and NetBeans with TortoiseSVN
				li Course experience with Eclipse with CVS, Sublime Text, and Mac OS Terminal