html
	head
		link(rel='stylesheet' type='text/css' href='css/scoreboard-led.css')
		script(src='js/jquery-2.0.3.min.js')
		script(src='js/scoreboard-led.js')

	body
		- var small_height = 9;
		- var small_width = 5;
		- var large_width = 17;
		- var large_height = 30;
		- var number_small = small_width * small_height;
		- var number_large = large_width * large_height;
		- var divider_small = small_height;
		- var shotclock_empty = 8 * small_height;

		div#top
			div#home_team_name.team_name
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#home_letter_0.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#home_letter_1.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#home_letter_2.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#home_letter_3.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#home_letter_4.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#home_letter_5.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }

			div.shotclock
				div.shotclock_empty
					- for(var i = 0; i < shotclock_empty; i++) {
						div.circle
					- }

				div#shotclock_tens.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }

				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }

				div#shotclock_ones.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }

				div.shotclock_empty
					- for(var i = 0; i < shotclock_empty; i++) {
						div.circle
					- }

			div#away_team_name.team_name
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#away_letter_0.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#away_letter_1.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#away_letter_2.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#away_letter_3.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#away_letter_4.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }
				div#away_letter_5.number_small
					- for(var i = 0; i < number_small; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < divider_small; i++) {
						div.circle
					- }

		br
		div#middle
			div.score
				div.divider
					- for(var i = 0; i < large_height; i++) {
						div.circle
					- }
				div.tens.number_large
					- for(var i = 0; i < number_large; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < large_height; i++) {
						div.circle
					- }
				div.ones.number_large
					- for(var i = 0; i < number_large; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < large_height; i++) {
						div.circle
					- }

			div#center
				div#timer
					div.divider
						- for(var i = 0; i < divider_small; i++) {
							div.circle
						- }

					div#minute_ten.number_small
						- for(var i = 0; i < number_small; i++) {
							div.circle
						- }

					div.divider
						- for(var j = 0; j < divider_small; j++) {
							div.circle
						- }

					div#minute_one.number_small
						- for(var j = 0; j < number_small; j++) {
							div.circle
						- }

					div.divider
						- for(var j = 0; j < divider_small; j++) {
							div.circle
						- }

					div.divider.colon
						- for(var j = 0; j < divider_small; j++) {
							div.circle
						- }

					div.divider
						- for(var i = 0; i < divider_small; i++) {
							div.circle
						- }

					div#second_ten.number_small
						- for(var i = 0; i < number_small; i++) {
							div.circle
						- }

					div.divider
						- for(var j = 0; j < divider_small; j++) {
							div.circle
						- }

					div#second_one.number_small
						- for(var j = 0; j < number_small; j++) {
							div.circle
						- }

					div.divider
						- for(var i = 0; i < divider_small; i++) {
							div.circle
						- }
					
				
				div.center
					- for(var i = 0; i < (27 * 21); i++) {
						div.circle
					- }
 
			div.score
				div.divider
					- for(var i = 0; i < large_height; i++) {
						div.circle
					- }
				div.tens.number_large
					- for(var i = 0; i < number_large; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < large_height; i++) {
						div.circle
					- }
				div.ones.number_large
					- for(var i = 0; i < number_large; i++) {
						div.circle
					- }
				div.divider
					- for(var i = 0; i < large_height; i++) {
						div.circle
					- }