html
	head
		link(rel='stylesheet' type='text/css' href='css/scoreboard-led.css')
		script(src='js/jquery-2.0.3.min.js')
		script(src='js/scoreboard-led.js')

	body
		div#test
			div.number_small
				div.circle 
				div.circle
				div.circle
				div.circle
				div.circle

				div.circle 
				div.circle
				div.circle
				div.circle
				div.circle

				div.circle 
				div.circle
				div.circle
				div.circle
				div.circle

				div.circle 
				div.circle
				div.circle
				div.circle
				div.circle

				div.circle 
				div.circle
				div.circle
				div.circle
				div.circle

				div.circle 
				div.circle
				div.circle
				div.circle
				div.circle

				div.circle 
				div.circle
				div.circle
				div.circle
				div.circle

				div.circle 
				div.circle
				div.circle
				div.circle
				div.circle

				div.circle 
				div.circle
				div.circle
				div.circle
				div.circle

			div.divider_small
				div.circle
				div.circle
				div.circle
				div.circle
				div.circle
				div.circle
				div.circle
				div.circle
				div.circle

			div.divider_small.colon
				div.circle
				div.circle
				div.circle
				div.circle
				div.circle
				div.circle
				div.circle
				div.circle
				div.circle

		br
		br
		br
		div.top
			div.team
				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
				
				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
				
			div.shotclock
				div.empty
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div#shotclock_tens.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div#shotclock_ones.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.empty
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
				
			div.team
				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
				
				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

		br
		br

		div.middle
			div.score
				div.tens.number_large
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
				span   

				div.ones.number_large
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

			span  
			div.timer
				span  
				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				span  
				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				span  
				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
				
				span  
				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				span  
				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				span  
				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

				span  
				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
				
				span  
				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				span  
				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
				
				span  
				div.number_small
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle

				span  
				div.divider_small
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
			

			span  
			div.score
				div.tens.number_large
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
				span  

				div.ones.number_large
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle 
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle

