/*@font-face {
	font-family: 'digi';
	src: url('/font/DS-DIGII.TTF');
}

@font-face {
	font-family: 'digital';
	src: url('/font/digital-regular.ttf');
}
*/
@font-face {
  font-family: 'austie';
  src: url('/font/Austie-Bost-Matamata.ttf'); }

/*
@font-face {
	font-family: 'jack';
	src: url('/font/CFJackStory.ttf');
}

@font-face {
	font-family: 'colleged';
	src: url('/font/Colleged.ttf');
}

@font-face {
	font-family: 'autumn';
	src: url('/font/Colors-Of-Autumn.ttf');
}

@font-face {
	font-family: 'fine-college';
	src: url('/font/Fine-College.ttf');
}
*/
@font-face {
  font-family: 'reditum';
  src: url('/font/Reditum.ttf'); }

/*
@font-face {
	font-family: 'vanity';
	src: url('/font/Vanity.ttf');
}*/