/*
From: http://www.dafont.com/austie-bost-matamata.font
*/
@font-face {
  font-family: 'austie';
  src: url('/font/Austie-Bost-Matamata.eot'), url('/font/Austie-Bost-Matamata.ttf');
  /* Safari, Chrome, FireFox */ }

/*
From: http://www.dafont.com/reditum.font
*/
@font-face {
  font-family: 'reditum';
  src: url('/font/Reditum.ttf'), url('/font/Reditum.eot');
  /* IE */ }
