* {
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
}

p {
	color: #666;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 22px;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #555;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid rgba(80, 94, 131, 0.3);

	-webkit-transition: border .3s;
	transition: border .3s;
}

a:hover {
	color: #505e83;
	border-bottom: 1px solid rgba(80, 94, 131, 1);

	-webkit-transition: border .3s;
	transition: border .3s;
}

::-webkit-selection {
	background:#81002b;
}

::-moz-selection {
	background:#81002b;
}

::selection {
	background:#81002b;
}

#about {
	width: 30%;
	min-width: 300px;
	max-width: 360px;
	padding: 0 0 0 70px;
	margin: 60px auto 0 5% !important;
	background: url('img/monogram.png') top left no-repeat;
	overflow: visible;
}

#credit {
	position: fixed;
	bottom: 0;
	right: 10px;
}

#credit p {
	color: #EEE;
	font-size: 10px;
	margin-bottom: 0px;
	text-shadow: 0px 0px 5px rgba(80, 94, 131, 1);
}

#credit a {
	color: #FFF;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#credit a:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}
