/*******************************************************
 PORTFOLIO
*******************************************************/
h1, h2, p, ul, ol {
	margin: 0;
}

h2 {
	margin-top: 20px;
}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

.portfolioLinks a:hover {
	font-weight: bold;
	text-decoration: underline;
	background-color: #eeeeee;
}

.description {
	margin-bottom: 20px;
}

/** Regular **/
.previewContainer {
	display: inline-block;
	position: relative;
	z-index: 1;
	width: 920px;
	height: 450px;
	margin: 10px;

	vertical-align: middle;
	text-align: center;
}

/** Small **/
.small {
	width: 450px;
	height: 200px;
}

/** Preview **/
.previewContainer .preview{
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.preview {
	color: #FFF;

    opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.previewText {
	width: 400px;
	height: 200px;
	/*margin: 50px;*/
	position: absolute;
	top: 25%;
	left: 25%;
	padding: 10px;

	background-color: white;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.previewText.small {
	width: 350px;
	height: 40px; !important
	position: absolute;
	top: 70px;
	left: 40px;
}

.previewText.large {
	width: 350px;
	height: 110px; !important
	position: absolute;
	top: 35px;
	left: 40px;
}

/*******************************************************
		Preview Images 
********************************************************/
/* Simplified Scoreboard */
#ScoreboardPreview {
	background: transparent url("/img/preview-scoreboard.png") 0 0 no-repeat;	
	background-size: 100% 100%;
}

/* LED Scoreboard */
#LEDScoreboardPreview {
	background: transparent url("/img/preview-scoreboard-led.png") 0 0 no-repeat;	
	background-size: 100% 100%;
}

/* LED Scoreboard : Separated Display and Controller (Simple) */
#LEDSimplePreview {
	background: transparent url("/img/preview-led-simple.png") 0 0 no-repeat;	
	background-size: 100% 100%;
}

/* LED Scoreboard : Separated Display and Controller (Simple) */
#LEDSimpleControllerPreview {
	background: transparent url("/img/preview-led-simple-controller.png") 0 0 no-repeat;	
	background-size: 100% 100%;
}

/* Cards: Match Pairs */
#CardsPreview {
	background: transparent url("/img/preview-matching-pairs-new.png") 0 0 no-repeat;	
	background-size: 100% 100%;
}
#CardsPreview.played {
	background: transparent url("/img/preview-matching-pairs-played.png") 0 0 no-repeat;	
	background-size: 100% 100%;
}

/* Casino */
#CasinoPreview {
	background: transparent url("/img/preview-video-poker.png") 0 0 no-repeat;	
	background-size: 100% 100%;
}

/* GymLocker */
#GymLockerPreview {
	background: transparent url("/img/preview-gymlocker.png") 0 0 no-repeat;
	background-size: 100% 100%;
}

#GymLockerPreview.exercise {
	background: transparent url("/img/preview-gymlocker-exercise.png") 0 0 no-repeat;
	background-size: 100% 100%;
}

/* MIPS */
#MIPSPreview {
	background: transparent url("/img/preview-mips.png") 0 0 no-repeat;
	background-size: 100% 100%;
}