#li_Resume {
  background-color: #444; }

/* #li_Resume */
/* @mixin */
#additional {
  display: inline-block;
  position: relative;
  top: 0;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
  width: 29%;
  /*width: 29%;*/ }

/* #additional */
#experiences {
  display: inline-block;
  position: relative;
  top: 0;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: top;
  width: 65%;
  /*width: 65%;*/ }

/* #experiences */
.section_container {
  display: inline-block;
  padding: 10px; }

/* .section_container */
.section {
  margin-bottom: 20px;
  /* span */
  /* .header */
  /* .job, .skill */
  /* .location */
  /* ul */ }
  .section span {
    display: block;
    font-size: 14px; }
  .section .header {
    overflow: hidden;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
    border-bottom: 1px dotted #CCC; }
  .section .job, .section .skill {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: -3px; }
  .section .location {
    font-weight: normal;
    margin-top: 4px;
    margin-bottom: 3px; }
  .section ul {
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 3px;
    padding-left: 25px; }

/* .section */
@media (max-width: 1055px) {
  /* #additional, #experiences */
  /* .section_container */
  #additional, #experiences {
    width: 100%; }
  .section_container {
    padding: 0px; } }

/* @media */