.project .img {
		/*opacity: 1;
	    transition: opacity 1s ease-in-out;
	    -moz-transition: opacity 1s ease-in-out;
	    -webkit-transition: opacity 1s ease-in-out;*/

	    /*background-image: attr(data-primary url);*/
	    /*background-image: url('/img/preview-scoreboard.png');*/
	    /*background: transparent url("/img/preview-scoreboard.png") 0 0 no-repeat;	*/

	    /*background: transparent attr("data-primary" url) 0 0 no-repeat;*/
		/*background-size: 100% 100%;*/

		background-color: attr(data-colour);
	}
}