#li_Portfolio {
  background-color: #444; }

.title {
  margin: 15px;
  font-size: 30pt;
  font-family: 'austie'; }

/* .title */
.section {
  /* .header */
  /* .project */ }
  .section .header {
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 16px;
    margin: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
    border-bottom: 2px dotted #CCC; }
  .section .project {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px 40px 40px;
    width: 45%;
    /* .img */
    /* figure */ }
    .section .project .img {
      width: 100%;
      height: 300px;
      background-size: 100% 100%; }
    .section .project figure {
      /* a */
      /* figcaption */
      /* &hover */ }
      .section .project figure a {
        text-decoration: none;
        color: black; }
      .section .project figure figcaption {
        margin-top: 5px; }
      .section .project figure:hover figcaption {
        font-weight: bold;
        font-style: italic;
        text-decoration: underline; }

/* .section */
@media (max-width: 850px) {
  /* .section */
  .section {
    /* .project */ }
    .section .project {
      display: block;
      margin: 0 auto;
      margin-bottom: 40px;
      width: 80%; } }

/* @media */