<script src="/gymlocker/js/user_main.js"></script>

<div class="row">
	<div class="span4 well workouts-summary-nums">
		<span id="workouts-completed">0</span>
		<p>Passed Workouts</p>
	</div>
	<div class="span4 offset3 well workouts-summary-nums">
		<span id="workouts-planned">0</span>
		<p>Planned Workouts</p>
	</div>
</div>

<%if (role == 4) { %>
	<div>
		<h2>Welcome to GymLocker</h2>
		<p>
			You are currently using GymLocker as a demo member.<br>
			As a demo member, you will be able to view our exercise library and create custom workouts.<br>
			However some of our features will be limited, such as<br>
			<ul>
				<li>Being able to save your custom workouts</li>
				<li>Being able to use one of your workouts as a daily use routine</li>
				<li>Request to be trained by our many trainers who use GymLocker</li>
				<ul>
					<li>Trainers are able to create a workout or routine that will help you get in shape</li>
				</ul>
				<li>Input and view your biometric statistics</li>
				<li>Also if you have a Nike Plus account, you'll be able to link it with GymLocker to see a graph of your runs</li>
			</ul>
		</p>
	</div>
<% } else { %>
	<div id='workout'>
		<a href="fitness/create"><h1>Today's Workout</h1></a>
		<table class='table table-striped table-bordered table-condensed'>
			<thead>
				<th>Exercise</th>
				<th>Reps</th>
				<th>Weight (lb)</th>
				<th>Muscle Group</th>
				<th>Equipment</th>
				<th>Comments</th>
			</thead>
			<tbody id='body'>
			</tbody>
		</table>
	</div>

	<div id='noWorkout' style='display: none'>
		<h1>No workout for today</h1>
		Would you like to <a href='/fitness/create'>create one?</a>
	</div>

<% } %>