extends ../boilerplate

block content
	div#l-content-subnav
		div.subnav.subnav-fixed
			ul.nav.nav-pills
				li#li-clients
					a(href='/GymLocker/trainer/clients') My Clients
				li#li-requests
					a(href='/GymLocker/trainer/requests') Client Requests

	div.container-fluid
		block trainerContent