/*
From: http://www.dafont.com/austie-bost-matamata.font
*/
@font-face {
	font-family: 'austie';
	src: url('/font/Austie-Bost-Matamata.eot'), /* IE */
		 url('/font/Austie-Bost-Matamata.ttf'); /* Safari, Chrome, FireFox */
}

/*
From: http://www.dafont.com/reditum.font
*/
@font-face {
	font-family: 'reditum';
	src: url('/font/Reditum.ttf'),  /* Safari, Chrome, FireFox */
		 url('/font/Reditum.eot');  /* IE */
	
}
