extends ../layout

block styles
	link(rel='stylesheet', href='/css/project.css')

block scripts
	script(src='/js/background.js')
	script(src='/js/project.js')

block content
	h1 Cards: Match Pairs
	span.update (Last Updated: February 17, 2014)
	div.external-links
		a(href='http://mips.heraldgutierrez.com/') View Webpage
		a(href='https://github.com/iheyroldy/MIPS') View Source on GitHub
	a(href='http://mips.heraldgutierrez.com/')
		div.img(data-primary='mips.png' data-secondary='')

	div.description